<a href="https://colab.research.google.com/github/JaeYooooon/pythonbasicclass/blob/main/02HW20220223%EA%B9%80%EC%9E%AC%EC%9C%A419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 51
movie_rank = ['닥터 스트레인지','스플릿','럭키']
print(movie_rank)
type(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

list

In [8]:
# 52
movie_rank = ['닥터 스트레인지','스플릿','럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [14]:
# 53
movie_rank = ['닥터 스트레인지','스플릿','럭키','배트맨']
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [17]:
# 54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.pop(-2)
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [20]:
# 55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.pop()
movie_rank.pop(-1)
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [23]:
# 56
lang  = ["C","C++","JAVA"]
lang2 = ["Python","Go","C#"]
langs = (lang+lang2)
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [33]:
# 57
nums = [1, 2, 3, 4, 5, 6, 7]

print(f'max: {max}')
print(f'min: {min}')

max: 7
min: 1

In [101]:
# 58
nums = [1, 2, 3, 4, 5]
print(nums[0]+nums[1]+nums[2]+nums[3]+nums[4])

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15
15

In [42]:
# 59
cook = ["피자","김밥","만두","양념치킨","족발","피자","김치만두","쫄면","쏘세지","라면","팥빙수","김치전"]
len(cook)

12

In [41]:
# 60
nums = [1, 2, 3, 4, 5]
float(nums[len(nums)//2])

3.0

In [57]:
# 121
word = input('>>')
if word.islower():
  print(word.upper())
else:
  print(word(lower))

>>a
A

In [53]:
# 122
score = int(input('>> score: '))
if score>80:
  print('grade is A')
elif score>60:
    print('grade is B')
elif score>40:
    print('grade is C')
elif score>20:
      print('grade is D')
else:
  print('grade is E')

>> score: 83
grade is A

In [67]:
# 123
data = input('>>입력: ')
a = data.split()
b,c = a # b = 100 , c = 달러
b = float(b)
if c == '달러':
  print(b*1167,'원')
elif c == '엔':
  print(b*1.096,'원')
elif c == '유로':
  print(b*1268,'원')
else:
  print(b*171,'원')

>>입력: 100 달러
116700.0 원

In [69]:
# 124
a = int(input('>> input number1: '))
b = int(input('>> input number2: '))
c = int(input('>> input number3: '))
if a>b and a>c:
  print(a)
elif b>c and b>a:
  print(b)
else:
  print(c)

>> input number1: 10
>> input number2: 9
>> input number3: 20
20

In [79]:
# 125
num = input('>> 휴대전화 번호 입력: ')
num_3=num.split("-")[0]
if num_3 == "011":
  print(f'당신은 SKT사용자 입니다.')
elif num_3 == "016":
  print(f'당신은 KT사용자 입니다.')
elif num_3 == "019":
  print(f'당신은 LGU사용자 입니다.')
else:
  print(f'알수없음')

>> 휴대전화 번호 입력: 011-345-1283
당신은 SKT사용자 입니다.

In [80]:
# 125
num = input('>> 휴대전화 번호 입력: ')
num_3=num[:3]
if num_3 == "011":
  print(f'당신은 SKT사용자 입니다.')
elif num_3 == "016":
  print(f'당신은 KT사용자 입니다.')
elif num_3 == "019":
  print(f'당신은 LGU사용자 입니다.')
else:
  print(f'알수없음')

>> 휴대전화 번호 입력: 011-123-123
당신은 SKT사용자 입니다.

In [82]:
# 126
우편번호 = input('>> 우편번호 : ')
우편번호 = 우편번호[:3]
if 우편번호 in ['010','011','012']:
  print('강북구')
elif 우편번호 in ['013','014','015']:
  print('도봉구')
else:
  print('노원구')

>> 우편번호 : 01400
도봉구

In [86]:
# 127 
주민 = input('>> 주민등록번호 : ')
주민 = 주민[7]
if 주민 == 1 or 3:
  print('남자')
else:
  print('여자')

>> 주민등록번호 : 981222-1171512
남자

In [89]:
# 128
주민 = input('>> 주민등록번호 : ')
뒷자리 =  주민.split('-')[1]
if int(뒷자리[1:3])<=8:
  print('서울 입니다.')
else:
  print('서울이 아닙니다.')

>> 주민등록번호 : 821010-1635210
서울이 아닙니다.

In [100]:
# 129
num = input("주민등록번호: ")
result = int(num[0])*2+int(num[1])*3+int(num[2])*4+int(num[3])*5+int(num[4])*6+int(num[5])*7+int(num[7])*8+int(num[8])*9+int(num[9])*2+int(num[10])*3+int(num[11])*4+int(num[12])*5
나머지 = 11-result%11
나머지 = str(나머지)
if num[-1] == 나머지:
  print("유효한 주민등록번호입니다.")
else:
  print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [103]:
# 130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

'''
opening_price	최근 24시간 내 시작 거래금액   : 시가
closing_price	최근 24시간 내 마지막 거래금액 : 종가
min_price	최근 24시간 내 최저 거래금액       : 최저가
max_price	최근 24시간 내 최고 거래금액       : 최고가
'''
변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장