<a href="https://colab.research.google.com/github/JaeYooooon/pythonbasicclass/blob/main/03HW20220223%EA%B9%80%EC%9E%AC%EC%9C%A419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 91
inventory = {'메로나' : (300,200),
             '비비빅' : (400,3),
             '죠스바' : (250,100)}
print(inventory)

{'메로나': (300, 200), '비비빅': (400, 3), '죠스바': (250, 100)}

In [16]:
# 92
inventory = {'메로나' : (300,200),
             '비비빅' : (400,3),
             '죠스바' : (250,100)}
print(inventory['메로나'][0],'원')

300 원

In [18]:
# 93
inventory = {'메로나' : (300,20),
             '비비빅' : (400,3),
             '죠스바' : (250,100)}
print(inventory['메로나'][1],'개')

20 개

In [22]:
# 94 
inventory = {'메로나' : (300,200),
             '비비빅' : (400,3),
             '죠스바' : (250,100)}
inventory['월드콘'] = (500,7)
print(inventory)

{'메로나': (300, 200), '비비빅': (400, 3), '죠스바': (250, 100), '월드콘': (500, 7)}

In [25]:
# 95 
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
key = list(icecream.keys())
print(key)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [26]:
# 96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
value = list(icecream.values())
print(value)

[1200, 1200, 1800, 1500, 1000]

In [29]:
# 97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
value = list(icecream.values())
print(sum(value))

6700

In [33]:
# 98
# 1.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream['팥빙수'] = 2700
icecream['아맛나'] = 1000
print(icecream)
# 2.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}
{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [31]:
 # 99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = {keys[0] : vals[0],
          keys[1] : vals[1],
          keys[2] : vals[2]}
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [34]:
# 100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [35]:
# 151
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
  if 변수 < 0:
    print(변수)

-20
-3

In [36]:
# 152
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 ==0:
    print(변수)

3

In [41]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if (변수 < 20) and (변수 % 3 == 0):
    print(변수)

12
18

In [45]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) >=3:
    print(변수)

study
python
language

In [48]:
# 155
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [49]:
# 156
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.islower():
    print(변수)

b
c

In [67]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
  print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [54]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트 :
  split = 변수.split(".")
  print(split[0])

hello
ex01
intro

In [63]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == 'h':
    print(변수)

intra.h
define.h

In [64]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == 'h') or (split[1] == 'c'):
    print(변수)

intra.h
intra.c
define.h