<a href="https://colab.research.google.com/github/JaeYooooon/pythonbasicclass/blob/main/python_basic_day03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  # list tuple dict set
  # list  [] indexing/slicing mutable(del,ins)   [1]
  # tuple () indexing/slicing immutable(del,ins) (1,)
  # dict  {}   x (unordered)  mutable(del,ins)   {'ket':'value'}
  # set   {}   x (unordered)  mutable(del,ins)   {1,2,3}

In [11]:
# 1
no = '31025'
a = no[0]  #indexing
b = no[1:3]
c = no[3:]
print(a,'학년',b,'반',c,'번')
print(f'{a} 학년 {b} 반 {c} 번') # f 스트링  f'{} {} {}'

3 학년 10 반 25 번
3 학년 10 반 25 번

In [23]:
# 2
no ='서울2가1234'
no4 =no[-4:]
print(no,'의 차량번호 4자리는',no4,'입니다.')
print(f'{no} 의 차량번호 4자리는 {no4} 입니다.')

서울2가1234 의 차량번호 4자리는 1234 입니다.
서울2가1234 의 차량번호 4자리는 1234 입니다.

In [43]:
# 3
s = 'maple'
center = s[len(s) //2]  # // 나머지를 버리고 몫만 취한다.
                     # %  몫은 버리고 나머지만 취한다. (홀/짝/배)

print(s,'의 가운데 글자는',center,'입니다')
print(f'{s} 의 가운데 글자는 {center} 입니다')

maple 의 가운데 글자는 p 입니다
maple 의 가운데 글자는 p 입니다

In [51]:
# 4
li1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print('3번째 요소부터 7번째 요소 =',li1[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 요소 =',li1[2:7][1])

3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40

In [57]:
dict = {'금요일':'탕수육',
        '토요일':'유산슬',
        '일요일':'팔보채'}

print('금요일 :',dict['금요일'])
print('토요일 :',dict['토요일'])
print('일요일 :',dict['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [66]:
# \  따옴표의 기능을 무력화시키고 글자로 표현
# \n 줄바꿈 line feed
# \t 탭     tab
print('Hello \'World\'')

print('*\n**\n***')
print('Hello\nWorld')
print('이름\t연락처')
print('제시카\t01-123-4567')
print('마틴\t010-6789-7890')

Hello 'World'
*
**
***
Hello
World
이름	연락처
제시카	01-123-4567
마틴	010-6789-7890

In [72]:
# print() 함수
print('재미있는','파이썬')
print('재미있는','파이썬',sep=',')

print('영화 타이타닉')
print('평점',end=':')
print('5점')

재미있는 파이썬
재미있는,파이썬
영화 타이타닉
평점:5점

In [81]:
# % 연산자

print('%d'% 10)  # %d 정수10진수 자리표시자
print('%f' % 3.14)
print('%s' % 'python')

10
3.140000
python

In [88]:
print('%5d' % 11) # 다섯칸을 확보하고 오른쪽부터 출력
print('%5d' % 1) # 다섯칸을 확보하고 오른쪽에 출력
print('%d' % 1)

   11
    1
1

In [89]:
print('%-5d' % 11) # 다섯칸을 확보하고 왼쪽부터 출력
print('%-5d' % 1) # 다섯칸을 확보하고 왼쪽에 출력
print('%d' % 1)

11
1
1

In [90]:
print('%5.2f' % 3.14) # 다섯칸을 확보하고 소수 2자리까지 오른쪽에 실수 출력

 3.14

In [95]:
a = '학생'

# 기본 출력 
print(a,'입니다.')

# f string 출력
print(f'{a} 입니다.')

# % 연산자 출력
print('%s 입니다.' % a)

# format() 출력 
print('{} 입니다.'.format(a))

학생 입니다.
학생 입니다.
학생 입니다.
학생 입니다.

In [97]:
# format() 메소드

print('My name is {}'.format('James'))

My name is James

In [99]:
print('My name is {name}'.format(name='James'))

My name is James

In [105]:
print('My name is {name}.I\'m {age} years old.'.format(name='James', age=20))

My name is James.I'm 20 years old.

In [106]:
# f-strings

who = 'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [108]:
age = 25
print(f'내년엔 {age+1}살이 됩니다')

내년엔 26살이 됩니다

In [113]:
# 표준입력

a = input()
print(a)

asd
asd

In [112]:
n = input('정수를 입력하세요 : ')
print(n)

정수를 입력하세요 : 23
23

In [116]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print(f'입력된 이름은 {name} 입니다.')
print(f'입력된 나이는 {age} 입니다.')

이름을 입력하세요>>>김재윤
나이를 입력하세요>>>25
입력된 이름은 김재윤입니다.
입력된 나이는 25입니다.

In [117]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print('입력된 이름은 {} 입니다.'.format(name))
print('입력된 나이는 {} 입니다.'.format(age))

이름을 입력하세요>>>김재윤
나이를 입력하세요>>>25
입력된 이름은 김재윤입니다.
입력된 나이는 25입니다.

In [123]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print('입력된 이름은 %s 입니다.' % name)
print('입력된 나이는 %s 입니다.' % age)

이름을 입력하세요>>>김재윤
나이를 입력하세요>>>25
입력된 이름은 김재윤입니다.
입력된 나이는 25입니다.

In [129]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print('입력된 이름은 ',name,'입니다.')
print('입력된 나이는 ',age,'입니다.')

이름을 입력하세요>>>김재윤
나이를 입력하세요>>>25
입력된 이름은  김재윤 입니다.
입력된 나이는  25 입니다.