<a href="https://colab.research.google.com/github/JaeYooooon/pythonbasicclass/blob/main/python_basic_day07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
chr(48)
chr(44608)

'김'

In [5]:
for item in enumerate(['가위','바위','보']):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [7]:
for idx,item in enumerate(['가위','바위','보']):
  print(idx+1,item)

1 가위
2 바위
3 보

In [10]:
# Method

name = input('이름을 입력하세요>>>')
list = []
list.append(name)
print(list)

이름을 입력하세요>>>김재윤
['김재윤']

In [11]:
s = '내가 그린 기린 그림은 목 긴 기린 그림이고, 네가 그린 기린 그림은 목짧은 기린 그림이다.'
s.count('기린')

4

In [13]:
s = 'best of best'
s.count('best',5)

1

In [14]:
s = 'Life is too short'
s.split()

['Life', 'is', 'too', 'short']

In [15]:
ques = input('이름과 나이를 함께 입력하세요(예 : 홍길동 26)')
ques.split()

이름과 나이를 함께 입력하세요(예 : 홍길동 26)김재윤 25

['김재윤', '25']

In [19]:
# 사용자 정의 함수 - 사용자가 직접 만든 함수.

# 입력 input
# 출력 output

# 1. 입력이 있고 리턴이 있는 함수
# 2. 입력이 없고 리턴도 없는 함수
# 3. 입력이 없고 리턴은 있는 함수
# 3. 입력이 없고 리턴도 없는 함수

# def 함수이름(매개변수):
#   본문
#   return 반환값

In [21]:
# 입력 x 리턴 x
def welcome():
  print('Hello python')
  print('Nice to meet you')
welcome()

Hello python
Nice to meet you

In [25]:
# 입력 o 리턴 x
def introduce(name,age):
  print(f'내 이름은 {name}이고, 나이는 {age}살입니다.')

introduce('james',25)
introduce('andy',22)
introduce('james',25)

내 이름은 james이고, 나이는 25살입니다.
내 이름은 andy이고, 나이는 22살입니다.
내 이름은 james이고, 나이는 25살입니다.

In [26]:
def show(*args):
  for item in args:
    print(item)

show('pyhton')
show('happy','birthday')

pyhton
happy
birthday

In [28]:
def addsum2(a,b,c):
  print(a+b+c)
addsum2(1,2,3)

6

In [31]:
# 가변 매개변수
def addsum(*args):
  sum = 0
  for arg in args:
    sum = sum +arg
  print(sum)
addsum(1,2,3,4,1,2,3,1,2,3,1,2,3)

28

In [39]:
# 디폴트 매개변수는 마지막에 위치시킨다.
def greet(name,message='안녕하세요'):
  print(f'{name}님 {message}')

greet('김철수')

김철수님 안녕하세요

In [44]:
# 입력 x 리턴 o

def address():
  str = '우편번호 12345\n'
  str += '서울시 영등포구 여의도동'
  return str

print(address())

우편번호 12345
서울시 영등포구 여의도동

In [52]:
def calculator(*args):
  return sum(args),sum(args)/len(args),max(args),min(args)

a,b,c,d = calculator(1,2,3,4,5)
print(a)
print(b)
print(c)
print(d)

15
3.0
5
1

In [55]:
def charge(energy):
  if energy<0:
    print('0 보다 작은 에너지는 충전할 수 없습니다.')
    return
  print('에너지가 충전되었습니다.')
charge(-1)

0 보다 작은 에너지는 충전할 수 없습니다.

In [60]:
# local variable & global variable

# local variable 지역 변수
def f():
  a = 10
  print(f'내부 :{a}')
  print(f'외부 : {a}')

f()

내부 :10
외부 : 10

NameError: ignored

In [61]:
# global variable 전역 변수
b = 10

def f():
  print(f'내부:{b}')
f()

내부:10

In [66]:
# 1
def vending_machine(money):
  price = 700

  for i in range((money // price)+1):
    coin = money - price * i
    print(f'음료수 = {i}개, 잔돈 = {coin}원')
  


vending_machine(3000)

음료수 = 0개, 잔돈 = 3000원
음료수 = 1개, 잔돈 = 2300원
음료수 = 2개, 잔돈 = 1600원
음료수 = 3개, 잔돈 = 900원
음료수 = 4개, 잔돈 = 200원

In [95]:
# 2
def get_average(marks):
  sum = 0
  for i in marks:
    sum += marks[i]
  return sum/len(marks)
    
marks = {'국어':90,'영어':80,'수학':85}
average = get_average(marks)
print(f'평균은 {average}점입니다.')

평균은 85.0점입니다.

In [90]:
# 3
total = 0
def gift(dic,who,money):
    global total
    total += money
    dic[who]=money




wedding = {}
gift(wedding, '영희', 5)
gift(wedding, '철수', 3)
gift(wedding, '이모', 10)
print(f'축의금 명단 : {wedding}')
print(f'전체 축의금 : {total}')

축의금 명단 : {'영희': 5, '철수': 3, '이모': 10}
전체 축의금 : 18

In [ ]:
# 모듈과 임포트

# 모듈 : 재사용이 가능하도록 변수,함수,클래스 등 을 모아놓은 .py