<a href="https://colab.research.google.com/github/JaeYooooon/pythonbasicclass/blob/main/python_basic_day04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# input() 함수를 사용할 때 주의할 점
# input()은 모든 입력을 str(문자열)로 저장한다는 점이다.
# 따라서 숫자를 입력해도 문자로 받아들인다.

n = input('정수를 입력하세요 >>>')
print(type(n))

정수를 입력하세요 >>>12
<class 'str'>

In [2]:
n = int(input('정수를 입력하세요 >>>')) # 형변환이 필요하다. casting
print(type(n))

정수를 입력하세요 >>>12
<class 'int'>

In [3]:
price =  50000
n = int(input('할부 개월 입력>>>'))
print('매달 내는 돈은 {}입니다.'.format(price/n))

할부 개월 입력>>>10
매달 내는 돈은 5000.0입니다.

In [7]:
#1

a = float(input('첫 번째 실수를 입력하세요>>>'))
b = float(input('두 번째 실수를 입력하세요>>>'))
print(f'{a}와 {b}의 합은 {a+b}입니다.')

첫 번째 실수를 입력하세요>>>1.23
두 번째 실수를 입력하세요>>>2.34
1.23와 2.34의 합은 3.57입니다.

In [14]:
 #2
 
 month = [31,28,31,30,31,30,31,31,30,31,30,31]
 a = int(input('1~12사이의 월을 입력하세요>>>'))
 print(f'{a}월은 {month[a-1]}일까지 있습니다.')

1~12사이의 월을 입력하세요>>>2
2월은 28일까지 있습니다.

In [19]:
#3

english_dict = {
    'flower' : '꽃',
    'fly' : '날다',
    'floor' : '바닥'
}
a = input('영어 단어를 입력하세요>>>')
print(f'{a} : {english_dict[a]}')

영어 단어를 입력하세요>>>flower
flower : 꽃

In [30]:
#4

a = input('희망하는 수학여행지를 입력하세요>>>')
b = input('희망하는 수학여행지를 입력하세요>>>')
c = input('희망하는 수학여행지를 입력하세요>>>')
print(ㅁf'조사된 수학여행지는 {a},{b},{c}입니다. ')

희망하는 수학여행지를 입력하세요>>>제주
희망하는 수학여행지를 입력하세요>>>제주
희망하는 수학여행지를 입력하세요>>>민속촌
조사된 수학여행지는 제주,제주,민속촌입니다.

In [31]:
# 복합 대입 연산자
a = 1
print(a)
# a = a + 1
a += 1
print(a)

1
2

In [33]:
a, b =10, 20
print('a = %d, b = %d' %(a,b))
a,b = b,a
print('a = %d, b = %d' %(a,b))

a = 10, b = 20
a = 20, b = 10

In [35]:
# 시퀀스 연산자 : 순서가 있는 구조 시퀀스 (리스트,튜플,문자열, range) 에서 사용된다.
[1,3,5] + [2,4,6]

[1, 3, 5, 2, 4, 6]

In [37]:
'hello' +' '+'python'

'hello python'

In [39]:
[1,3,5]*2

[1, 3, 5, 1, 3, 5]

In [42]:
'★'*20

'★★★★★★★★★★★★★★★★★★★★'

In [44]:
# 멤버쉽 연산자
5 in [1,2,3,4,5]
5 not in [1,2,3,4,5]

False

In [45]:
'a' in 'apple'

True

In [52]:
# 1
a = input('10 ~ 99 사이의 정수를 입력하세요 >>>')
print('십의 자리 :',a[0:1])
print('일의 자리 :',a[1:2])

10 ~ 99 사이의 정수를 입력하세요 >>>45
십의 자리: 4
일의 자리: 5

In [53]:
a = input('10 ~ 99 사이의 정수를 입력하세요 >>>')

print(f'십의 자리 :{a[0]}')
print(f'일의 자리 :{a[1]}')

10 ~ 99 사이의 정수를 입력하세요 >>>45
십의 자리 :4
일의 자리 :5

In [55]:
a = int(input('10 ~ 99 사이의 정수를 입력하세요 >>>'))

print(f'십의 자리 :{a//10}')
print(f'일의 자리 :{a%10}')

10 ~ 99 사이의 정수를 입력하세요 >>>45
십의 자리 :4
일의 자리 :5

In [68]:
# 2 
a = int(input('초를 입력하세요>>>'))
a = 3690
hour = a // 3600
minute = a % 3600 // 60
second = a % 60
print(f'변환 결과는 {hour}시간 {minute}분 {second}초 입니다.')

초를 입력하세요>>>3690
변환 결과는 1시간 1분 30초 입니다.

In [85]:
# 3

no = int(input('4자리 사원번호를 입력하세요 >>>'))
no_1 = no % 10
print(no_1)
if no_1 >= 5 : 
  print('근무시간은 오전입니다.')
else :
    print('근무시간은 오후입니다.')

4자리 사원번호를 입력하세요 >>>1243
3
근무시간은 오후입니다.

In [87]:
# 조건문 IF
# 조건문은 특정 조건을 만족하는지의 여부에 따라 실행되는 코드가 달라져야 할때 사용
a = 0
if a > 0:
  print('양수')