<a href="https://colab.research.google.com/github/JaeYooooon/pythonbasicclass/blob/main/pythonbasicday10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 클래스 class 객체 object
# c언어에는 클래스가 없다 <-클래스가 필수는 아니다.

In [1]:
result1 = 0
def add1(num):
  global result1 # 전역변수
  result1 +=num
  return result1

result2 = 0
def add2(num):
  global result2 # 전역변수
  result2 +=num
  return result2
print(add1(3))
print(add1(4))

print(add2(2))
print(add2(5))

3
7
2
7

In [2]:
print(add1(3))
print(add2(5))

10
12

In [5]:
class Calculator:
  def __init__(self): # __init__ 생성자는 객체를 생성할때 자동으로 호출
    self.result = 0
  def add(self,num): # self는 호출한 그 객체를 말한다
    self.result +=num
    return self.result # self는 호출한 그 객체를 말한다

cal1 = Calculator()
cal2 = Calculator()

In [6]:
print(cal1.add(3))

3

In [16]:
class FourCal:
  def selfdata(self,first,second):
    self.first = first
    self.second = second

In [21]:
a = FourCal()
b = FourCal()

In [22]:
a.selfdata(4,2)
b.selfdata(3,5)

In [24]:
a.first,a.second
b.first,b.second

(3, 5)

In [40]:
class FourCal:
  def __init__(self, first, second):
    self.first = first
    self.second = second
    
  def setdata(self, first, second):  # self = a(객체의이름), first = 4, second = 2
    self.first = first   # a.first = 4
    self.second = second # a.second = 2

  def add(self):
    result = self.first + self.second
    return result

  def mul(self):
    result = self.first * self.second
    return result

  def sub(self):
    result = self.first - self.second
    return result

  def div(self):
    result = self.first / self.second
    return result

In [35]:
a = FourCal()
a.setdata(4,2)
print(a.first)
print(a.second)

4
2

In [36]:
print(a.add())

6

In [38]:
c = FourCal()
c.setdata(1,2)

print(c.add())
print(c.mul())
print(c.sub())

3
2
-1

In [ ]:
# 생성자 __init__ Constructor
# 상속 inheritance
# 어떤 클래스를 만들때 다른 클래스의 기능을 물려받을 수 있는 기능
# 보통 상속은 기존 클래스를 변경하지 않고 기능을 추가하거나
# 기존 기능을 변경하려고 할때 사용된다.

In [47]:
class MoreFourCal(FourCal):
  def pow(self):
    result = self.first ** self.second
    return result

e = MoreFourCal(3,2)
e.pow()

9

In [ ]:
# 매서드 오버라이딩(*덮어쓰기*) mathod overriding
a =FourCal(4,0) # 부모 클래스 인 FourCal로 a라는 객체를 생성했다.
a.div() # 0으로 나누면 에러발생

In [54]:
class SafeFourCal(FourCal):
  def div(self):
    if self.second == 0:
      return 0
    else :
      return self.first / self.second
f = SafeFourCal(4,0)
f.div()

0

In [55]:
# 클래스 변수 
# 객체변수는 다른 객체들에 영향을 받지 않고 독립적으로 그 값을 유지한다는 것이
# 중요하다
# 클래스 변수는 객체 생성 없이도 사용할 수 있다.

class Family:
  lastname = '김' # 클래스 변수 선언

Family.lastname

'김'

In [57]:
a = Family()
b = Family()
print(a.lastname)
print(b.lastname)

김
김

In [ ]:
Family.lastname = '박'

In [65]:
class book:
  def print_info(self):
    print(f'책 제목 : {self.bookn}')
    print(f'책 저자 : {self.booka}')
  def set_info(self,bookn,booka):
    self.bookn = bookn
    self.booka = booka

book1 = Book()
book2 = Book()

book1.set_info('파이썬','민경태')
book2.set_info('어린왕자','생택쥐배리')

book1.print_info()
book2.print_info()

책 제목: 파이썬
책 저자: 민경태
책 제목: 어린왕자
책 저자: 생택쥐배리

In [67]:
# 예외 처리 Exception
try:
  a = int(input('제수를 입력하세요'))
  b = int(input('피제수를 입력하세요'))
  print(a/b)
except ZeroDivisionError:
  print('0으로 나누는 것은 불가능합니다.')
except ValueError:
  print('정수만 입력할수 있습니다.')

제수를 입력하세요2
피제수를 입력하세요0.1
정수만 입력할수 있습니다.

In [71]:
a = [10,20,30,40,50]
try:
  a[10]
except IndexError as e:
  print(e)

list index out of range

In [72]:
try:
  a = int(input('제수를 입력하세요'))
  b = int(input('피제수를 입력하세요'))
  result = a / b
except ZeroDivisionError:
  print('0으로 나누는 것은 불가능합니다.')
except ValueError:
  print('정수만 입력할수 있습니다.')
except Exception:
  print('알수 없는 예외가 발생했습니다.')
else:  # 예외가 발생하지 않았을 경우 접근
  print(result)
finally: # 예외 발생 여부와는 상관없이 항상 마지막에 접근
  print('프로그램을 종료합니다.')

제수를 입력하세요2
피제수를 입력하세요1
2.0
프로그램을 종료합니다.

In [73]:
# 강제 예외 발생
try:
  raise Exception('강제 예외 발생')
except Exception as e:
  print('발생 한 예외 메세지')
  print(e)

발생 한 예외 메세지
강제 예외 발생

In [79]:
import random

class UpDown():
  def __init__(self):
    self.answer = random.randint(1,100)
    self.count = 0

  def play(self):
    while True:
      try:
        no = self.challenge()
      except Exception as e:
        print(e)
      else:
        if self.answer < no:
          print('Down!')
        elif self.answer > no:
          print('Up!')
        else:
          print(f'{self.count}만의 정답니다.')
          break

  def challenge(self):
    self.count += 1
    no = int(input('입력(1~100) >>>'))
    if no < 1 or no > 100:
      raise Exception('1~100 사이만 입력하셔요')
    return no



game = UpDown()
game.play()

입력(1~100) >>>50
Up!
입력(1~100) >>>75
Down!
입력(1~100) >>>689
1~100 사이만 입력하셔요
입력(1~100) >>>68
Down!
입력(1~100) >>>64
Down!
입력(1~100) >>>62
Down!
입력(1~100) >>>61
Down!
입력(1~100) >>>55
Up!
입력(1~100) >>>587
1~100 사이만 입력하셔요
입력(1~100) >>>57
Up!
입력(1~100) >>>58
11만의 정답니다.