<a href="https://colab.research.google.com/github/JaeYooooon/pythonbasicclass/blob/main/python_basic_day06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# for 반복문, 주로 반복횟수를 명확히 알고 있을 때 사용

for i in 'hello':
  print(i)

h
e
l
l
o

In [3]:
for i in ['가위','바위','보']:
  print(i)

가위
바위
보

In [5]:
# 리스트 내포  : for 문을 이용해서 리스트를 간단히 생성한다.
[n * 2 for n in [1,2,3]]

[2, 4, 6]

In [6]:
[n*2 for n in [1,2,3,4,5]if n % 2 ==1]

[2, 6, 10]

In [8]:
four_seasons = ('spring','summer','autumn','winter')
for season in four_seasons:
  print(season)

spring
summer
autumn
winter

In [14]:
# range()
# range(start,stop,step) # start, step 은 생략 가능
list(range(1,11))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
for i in range(5):
  print(i)

0
1
2
3
4

In [16]:
dan = int(input('출력할 구구단을 입력하세요 >>>'))
for n in range(1,10):
  print(f'{dan}x{n}={dan*n}')

출력할 구구단을 입력하세요 >>>5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45

In [17]:
for item in {'가위','바위','보'}:
  print(item)

보
바위
가위

In [22]:
person = {
    'name' : '에밀리',
    'age'  : 20
}
for item in person:
  print(item,person[item])

name 에밀리
age 20

In [26]:
# 1
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [37]:
# 2
no = int(input('임의의 양수를 입력하세요>>>'))
sum = 0
for i in range(1,no+1):
  sum = sum + i
print(f'1부터 {no}사이 모든 정수의 합계는 {sum}입니다')

임의의 양수를 입력하세요>>>5
1부터 5사이 모든 정수의 합계는 30입니다

In [53]:
# 3
no = int(input('몇 개의 과일을 보관할까요? >>>'))
fruits = []
for i in range(1,no+1):
  fruit = input(f'{i}번째 과일을 입력하세요 >>>')
  fruits.append(fruit)

print(f'입력받은 과일들은 {fruits}입니다.')

몇 개의 과일을 보관할까요? >>>5
1번째 과일을 입력하세요 >>>사과
2번째 과일을 입력하세요 >>>바나나
3번째 과일을 입력하세요 >>>체리
4번째 과일을 입력하세요 >>>망고
5번째 과일을 입력하세요 >>>오렌지
입력받은 과일들은 ['사과', '바나나', '체리', '망고', '오렌지']입니다.

In [58]:
# 4
exam = [99, 78, 100, 91, 81, 85, 54, 100, 71, 50]
exam2 = []
for i in exam:
  if i >=95:
    exam2.append(100)
  else:
    exam2.append(i+5)
print(exam2)

[100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

In [59]:
 # break
 # while 문이나 for문에서 반복을 강제로 종료할때 사용
 n = 1
 while n <= 10:
   print(n)
   n+=1

1
2
3
4
5
6
7
8
9
10

In [60]:
 n = 1
 while True:
   print(n)
   if n == 10:
     break
   n+=1

1
2
3
4
5
6
7
8
9
10

In [62]:
# continue

# 반복 도중에 continue를 만나면 더이상 아래로 내려가지않고 
# 다시 반복문으로 진입한다.
total = 0
for a in range(1,101):
  if a % 3 == 0 : 
    continue
  total +=a 
print(total)

3367

In [66]:
# 1
cash = 10000
while True : 
  print(f'현재 {cash}원이 있습니다.')
  if cash == 0:
    break
  pay = int(input('사용할 금액 입력 >>>'))
  if pay<=0:
    print('0 이하의 금액은 사용할 수 없습니다.')
  elif pay > cash : 
    print(f'{pay-cash}원이 부족합니다.')
  else:
    cash -=pay

현재 10000원이 있습니다.
사용할 금액 입력 >>>5000
현재 5000원이 있습니다.
사용할 금액 입력 >>>6000
1000원이 부족합니다.
현재 5000원이 있습니다.
사용할 금액 입력 >>>4000
현재 1000원이 있습니다.
사용할 금액 입력 >>>1000
현재 0원이 있습니다.

In [76]:
# 2
while True:
  score = int(input('이번 영화의 평점을 입력하세요>>>'))
  if score >=1 and score <=5:
    print(f'평점: {"★"*score}')
    break
  else:
      print('평점은 1~5 사이만 입력할 수 있습니다.')

이번 영화의 평점을 입력하세요>>>-2
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요>>>10
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요>>>5
평점: ★★★★★

In [82]:
# 3
pw = 'qwerty'
tryno=0
while True:
  if tryno == 5:
    print('비밀번호 입력 횟수를 초과했습니다.')
    break
  inpass = input('비밀번호를 입력하세요>>>')
  if pw == inpass:
    print('비밀번호를 맞혔습니다.')
    break
  tryno +=1

비밀번호를 입력하세요>>>qweqwe
비밀번호를 입력하세요>>>qwerty
비밀번호를 맞혔습니다.

In [95]:
# 4
dan =0
while dan <9:
  dan+=1
  for n in range(2,10):
    print(f'{dan}x{n}={dan*n}')

1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [96]:
dan =-1
while dan <9:
  dan+=2
  for n in range(1,10):
    print(f'{dan}x{n}={dan*n}')

1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [98]:
# 4 구구단 전체
for i in range(2,10):
  for j in range(1,10):
    print(f'{i}X{j}={i*j}')

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [99]:
# 4 구구단 홀수단
for i in range(3,10,2):
  for j in range(1,10):
    print(f'{i}X{j}={i*j}')

3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [101]:
# 4
for i in range(2,10):
  if i % 2 == 0:
    continue
  for j in range(1,10):
    print(f'{i}X{j}={i*j}')

3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [106]:
# 4
for i in range(2,10):
  if i % 2 == 0:
    continue
  for j in range(1,10):
    if j > i:
      break
    print(f'{i} X {j} = {i*j}')
  print()

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81